:root{
    --main-color: #0c3c5e;
    --main-bg-color: #192231;
    --secondary-color: #2d77a4;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Montserrat-thin';
    src: url('../Montserrat/static/Montserrat-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../Montserrat/static/Montserrat-Bold.ttf') format('truetype')
}